[submodule "Editor-for-the-Nava"]
	path = Editor-for-the-Nava
	url = git@github.com:BenZonneveld/Editor-for-the-Nava.git
[submodule "Nava-Tool"]
	path = Nava-Tool
	url = git@github.com:BenZonneveld/Editor-for-the-Nava.git
